
import plotly_express 
import pandas 
import numpy 
import cv2 
import opencv
import csv 
import colorsys
from matplotlib import pyplot
from sklearn.cluster import KMeans 
from PIL import Image